.profile{
  border: 1px solid red;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.profile h1{
  margin-left: 50px;
}
.profile h3{
  margin-left: 20px;
}
.profile p{
  margin-left: 65px;
}